.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#001d33 !important;
}

.title {
    font-size: 48px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}