.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color:#001d33 !important;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

h1,
h2 {
  color: #ffcc00 !important;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: rgba(0, 76, 147, 0.9);
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

strong {
  color: #ffcc00;
}

p {
  line-height: 1.6;
  margin: 10px 0;
  color: #fff;
}

code {
  background: rgba(0, 29, 51, 0.9);
  padding: 2px 4px;
  border-radius: 4px;
  color: #fff;
}

h2 {
  margin-top: 30px;
}

ul li,
p {
  color: #fff;
}

ul li strong {
  color: #ffcc00;
}